#cloud-config

users:

coreos:
  update:
    reboot-strategy: "etcd-lock"
  etcd:
    discovery:
    # multi-region and multi-cloud deployments need to use $public_ipv4
    addr: $private_ipv4:4001
    peer-addr: $private_ipv4:7001
  fleet:
    public_ip: $private_ipv4
    metadata:
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
